In [84]:
import numpy as np
import pandas as pd
from IPython import display
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error
%matplotlib inline

df = pd.read_csv(r'C:\\Users\\Jessica\\Desktop\\School\\Udacity Data Science\\Lesson 1 - Data Science Process\\Project 1\\survey_results_public_20.csv', sep=',', error_bad_lines=False, index_col=False, dtype='unicode')
df_schem = pd.read_csv(r'C:\\Users\\Jessica\\Desktop\\School\\Udacity Data Science\\Lesson 1 - Data Science Process\\Project 1\\survey_results_schema_20.csv', sep=',', error_bad_lines=False, index_col=False, dtype='unicode')
df.head()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

In [85]:
no_nulls = set(df.columns[df.isnull().mean() <= 0.3])
print(len(no_nulls))

42

In [86]:
def remove_nan(df, threshold):
    df = df.dropna(axis=1,thresh=(threshold*df.shape[0]))
    return  df

df = remove_nan(df,0.7)
df

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,Country,CurrencyDesc,CurrencySymbol,DatabaseWorkedWith,DevType,...,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WelcomeChange,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Germany,European Euro,EUR,Elasticsearch;Microsoft SQL Server;Oracle,"Developer, desktop or enterprise applications;...",...,"No, not at all",NaN,Multiple times per day,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Just as welcome now as I felt last year,36,27
1,2,I am a developer by profession,No,NaN,19,United Kingdom,Pound sterling,GBP,NaN,"Developer, full-stack;Developer, mobile",...,"Yes, definitely",Less than once per month or monthly,Multiple times per day,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",Somewhat more welcome now than last year,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,Russian Federation,NaN,NaN,NaN,NaN,...,"Yes, somewhat",A few times per month or weekly,Daily or almost daily,Neither easy nor difficult,Appropriate in length,NaN,NaN,Somewhat more welcome now than last year,4,NaN
3,4,I am a developer by profession,Yes,25,18,Albania,Albanian lek,ALL,NaN,NaN,...,"Yes, definitely",A few times per month or weekly,Multiple times per day,NaN,NaN,No,"Computer science, computer engineering, or sof...",Somewhat less welcome now than last year,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31,16,United States,NaN,NaN,MySQL;PostgreSQL;Redis;SQLite,NaN,...,"Yes, somewhat",Less than once per month or monthly,A few times per month or weekly,Easy,Too short,No,"Computer science, computer engineering, or sof...",Just as welcome now as I felt last year,15,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64456,64858,NaN,Yes,NaN,16,United States,NaN,NaN,NaN,Senior executive/VP,...,NaN,NaN,NaN,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,10,Less than 1 year
64457,64867,NaN,Yes,NaN,NaN,Morocco,NaN,NaN,Cassandra;Couchbase;DynamoDB;Elasticsearch;Fir...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64458,64898,NaN,Yes,NaN,NaN,Viet Nam,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64459,64925,NaN,Yes,NaN,NaN,Poland,NaN,NaN,Oracle,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64460,65112,NaN,Yes,NaN,NaN,Spain,NaN,NaN,MariaDB;Microsoft SQL Server;MySQL;Oracle,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN

In [87]:
to_drop = ['SOAccount','SOComm','SOPartFreq','SOVisitFreq','SurveyEase','SurveyLength','WelcomeChange','NEWOffTopic']
df = df.drop(to_drop,axis=1)
df

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,Country,CurrencyDesc,CurrencySymbol,DatabaseWorkedWith,DevType,...,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,PlatformDesireNextYear,PlatformWorkedWith,Trans,UndergradMajor,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Germany,European Euro,EUR,Elasticsearch;Microsoft SQL Server;Oracle,"Developer, desktop or enterprise applications;...",...,Amused,Stack Overflow (public Q&A for anyone who codes),Visit Stack Overflow;Go for a walk or other ph...,Windows,Android;iOS;Kubernetes;Microsoft Azure;Windows,Windows,No,"Computer science, computer engineering, or sof...",36,27
1,2,I am a developer by profession,No,NaN,19,United Kingdom,Pound sterling,GBP,NaN,"Developer, full-stack;Developer, mobile",...,Amused,Stack Overflow (public Q&A for anyone who code...,Visit Stack Overflow;Go for a walk or other ph...,MacOS,iOS;Kubernetes;Linux;MacOS,iOS,NaN,"Computer science, computer engineering, or sof...",7,4
2,3,I code primarily as a hobby,Yes,NaN,15,Russian Federation,NaN,NaN,NaN,NaN,...,NaN,Stack Overflow (public Q&A for anyone who codes),NaN,Linux-based,NaN,NaN,NaN,NaN,4,NaN
3,4,I am a developer by profession,Yes,25,18,Albania,Albanian lek,ALL,NaN,NaN,...,NaN,Stack Overflow (public Q&A for anyone who code...,NaN,Linux-based,NaN,NaN,No,"Computer science, computer engineering, or sof...",7,4
4,5,"I used to be a developer by profession, but no...",Yes,31,16,United States,NaN,NaN,MySQL;PostgreSQL;Redis;SQLite,NaN,...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,Windows,Docker;Google Cloud Platform;Heroku;Linux;Windows,AWS;Docker;Linux;MacOS;Windows,No,"Computer science, computer engineering, or sof...",15,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64456,64858,NaN,Yes,NaN,16,United States,NaN,NaN,NaN,Senior executive/VP,...,Amused,Stack Overflow (public Q&A for anyone who codes),Call a coworker or friend,Windows,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",10,Less than 1 year
64457,64867,NaN,Yes,NaN,NaN,Morocco,NaN,NaN,Cassandra;Couchbase;DynamoDB;Elasticsearch;Fir...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64458,64898,NaN,Yes,NaN,NaN,Viet Nam,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64459,64925,NaN,Yes,NaN,NaN,Poland,NaN,NaN,Oracle,NaN,...,"Hello, old friend",Stack Overflow (public Q&A for anyone who codes),Call a coworker or friend;Visit Stack Overflow,Windows,NaN,Linux;Windows,NaN,NaN,NaN,NaN
64460,65112,NaN,Yes,NaN,NaN,Spain,NaN,NaN,MariaDB;Microsoft SQL Server;MySQL;Oracle,NaN,...,Indifferent,NaN,Meditate;Visit Stack Overflow;Go for a walk or...,Windows,Arduino;Linux;Raspberry Pi;Windows,Android;Arduino;Linux;Raspberry Pi;Windows,NaN,"Computer science, computer engineering, or sof...",NaN,NaN

In [88]:
def remove_schema_rows(df,schema):
    col_names = list(df.columns)
    new_schema = schema[~schema.Column.isin(col_names)==False]
    return new_schema

remove_schema_rows(df,df_schem)

,Column,QuestionText
0,Respondent,Randomized respondent ID number (not in order ...
1,MainBranch,Which of the following options best describes ...
2,Hobbyist,Do you code as a hobby?
3,Age,What is your age (in years)? If you prefer not...
4,Age1stCode,At what age did you write your first line of c...
8,Country,Where do you live?
9,CurrencyDesc,Which currency do you use day-to-day? If your ...
10,CurrencySymbol,Which currency do you use day-to-day? If your ...
12,DatabaseWorkedWith,Which database environments have you done exte...
13,DevType,Which of the following describe you? Please se...
14,EdLevel,Which of the following best describes the high...
15,Employment,Which of the following best describes your cur...
16,Ethnicity,"Which of the following describe you, if any? P..."
17,Gender,"Which of the following describe you, if any? P..."
18,JobFactors,Imagine that you are deciding between two job ...
19,JobSat,How satisfied are you with your current job? (...
20,JobSeek,Which of the following best describes your cur...
21,LanguageDesireNextYear,"Which programming, scripting, and markup langu..."
22,LanguageWorkedWith,"Which programming, scripting, and markup langu..."
25,NEWCollabToolsDesireNextYear,Which collaboration tools have you done extens...
26,NEWCollabToolsWorkedWith,Which collaboration tools have you done extens...
29,NEWEdImpt,"How important is a formal education, such as a..."
32,NEWLearn,How frequently do you learn a new language or ...
35,NEWOtherComms,Are you a member of any other online developer...
38,NEWPurpleLink,You search for a coding solution online and th...
39,NEWSOSites,Which of the following Stack Overflow sites ha...
40,NEWStuck,What do you do when you get stuck on a problem...
41,OpSys,What is the primary operating system in which ...
43,PlatformDesireNextYear,Which platforms have you done extensive develo...
44,PlatformWorkedWith,Which platforms have you done extensive develo...
53,Trans,Are you transgender?
54,UndergradMajor,What was your primary field of study?
59,YearsCode,"Including any education, how many years have y..."
60,YearsCodePro,"NOT including education, how many years have y..."